.w300{
    width: 1024px;
    height: 300px;
}
.sliderContainer{
    background-color: #DBE4C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

sliderImgP{
    
    object-fit: cover;
    
}
.sliderFont{
    font-size: 50px;
    color: #10A19D;
}
.colorSlider{
    color: #CF0A0A;
    font-weight: 600;
}


@media (max-width: 768px) {
    
    .w300{
        width: 100%;
        min-width: 356px;
        height: 250px;
    }
    .sliderFont{
        font-size: 30px;
    }
    .colorSlider{
        font-size: 12px;
    }
  }