.topstripcontainer{
    display: flex;
    height: 38px;
    background-color: #E4B1F0;
    justify-content: space-between;
}
.topstipleft{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.phonewrapper{
    padding: 5px;
}
.topStripText{

    text-align: center;
    font-size: medium;
    padding: 2px 10px;
    margin-top: 10px;
    cursor: pointer;
}
.topStripText:hover {
    color: red;
  }

  .faIcon:hover {
    color: red;
  }